.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100%;
    padding: 45px 5px; /* Этот отступ нужен, чтобы при повороте картички не появлялся скролл */
}

@media (orientation: landscape) {
    .wrapper {
        align-items: center;
    }
}

main {
    position: relative;
    perspective: 1000px;
    width: 100%;
    max-width: 25rem;
}

@media (orientation: landscape) {
    main {
        max-width: 40rem;
    }
}

main:focus-within .front,
main:hover .front,
main.flip .front {
    transform: rotateY(180deg);
}

main:focus-within .back,
main:hover .back,
main.flip .back {
    transform: rotateY(0deg);
}

.front {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.back {
    transform: rotateY(-180deg);
    display: grid;
    gap: 2rem 1rem;
    grid-template:
        "vcard    qrcode"   4rem
        "works    works"    auto
        "contacts contacts" auto /
        auto      4rem;
}

@media (orientation: landscape) {
    .back {
        column-gap: 2rem;
        grid-template:
            "vcard  works contacts" auto
            "qrcode works contacts" auto /
            4rem    auto  auto;
    }
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in;
    will-change: transform;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden; /* Safari <= 14 */
    backface-visibility: hidden;
    padding: 2rem;
    background-color: var(--white);
    box-shadow: 0 0.2rem 0.2rem -0.13rem rgba(0, 0, 0, .2), 0 0.2rem 0.26rem 0 rgba(0, 0, 0, .14), 0 0.06rem 0.53rem 0 rgba(0, 0, 0, .12);
    border-radius: 0.3rem;
}
