---
permalink: sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    <url>
        <loc>{{ env.URL }}/</loc>
        <changefreq>daily</changefreq>
        <xhtml:link
                rel="alternate"
                hreflang="en"
                href="{{ env.URL }}/"/>
        <xhtml:link
                rel="alternate"
                hreflang="ru"
                href="{{ env.URL }}/ru/"/>
        <xhtml:link
                rel="alternate"
                hreflang="uk"
                href="{{ env.URL }}/uk/"/>

    </url>
</urlset>
