---
permalink: sitemap.xml
lang:
    - code: en
      path: /
    - code: ru
      path: /ru/
    - code: uk
      path: /uk/
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    {% for loc in lang %}
        <url>
            <loc>{{ env.URL }}{{ loc.path }}</loc>
            <changefreq>weekly</changefreq>
            {% for link in lang %}
                <xhtml:link
                        rel="alternate"
                        hreflang="{{ link.code }}"
                        href="{{ env.URL }}{{ link.path }}"/>
            {% endfor %}
        </url>
    {% endfor %}
</urlset>
