body, html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: Arial, serif;
    background: #fefefe;
}

main {
    /*height: 50vh;*/
    /*width: 90vw;*/
    position: relative;
    /*--avatar-size: 10rem;*/
    /* width: 100%; */
    /* min-height: 30rem; */
    /* margin-top: calc(var(--avatar-size) / 2); */
    /*box-shadow: 0 8px 60px -10px rgba(13, 28, 39, 0.6);*/
    background: #fff;
    /*border-radius: 1rem;*/
    /*max-width: 45rem;*/
    /*position: relative;*/
    /* text-align: center; */
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*gap: 1rem;*/
    /*padding: 2rem 2rem 2rem 7rem;*/
    /*box-sizing: border-box;*/
    perspective: 1000px;

}

main:focus-within .front, main:hover .front, main.flip .front {
    transform: rotateY(180deg);
}

main:focus-within .back, main:hover .back, main.flip .back {
    transform: rotateY(0deg);
}

.front {
    position: absolute;
    z-index: 1;
}

.back {
    transform: rotateY(-180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
    outline: 1px solid;
    /*box-sizing: border-box;*/
    transition: all 0.3s ease-in;
    /*color: white;*/
    background-color: #fff;
    /*padding: 10px;*/
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/*h1 {*/
/*    grid-column-end: 3;*/
/*    grid-column-start: 1;*/
/*}*/

/*h1, h2 {*/
/*    font-weight: 400;*/
/*    margin: 0;*/
/*}*/

/*#list-skills-header {*/
/*    grid-column-start: 1;*/
/*    grid-column-end: 2;*/
/*}*/

/*#list-skills {*/
/*    grid-column-start: 1;*/
/*    grid-column-end: 2;*/
/*}*/

/*#list-skills li {*/
/*    display: inline;*/
/*}*/

/*#list-contacts-header {*/
/*    grid-column-start: 2;*/
/*    grid-row-start: 2;*/
/*}*/

/*.profile-picture {*/
/*    position: absolute;*/
/*}*/
/*.profile-picture img {*/
/*    width: var(--avatar-size);*/
/*    height: auto;*/
/*    border-radius: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

/*.line-dash {*/
/*    line-height: 1rem;*/
/*    opacity: 0.3;*/
/*}*/

/*ul, ol {*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/*ul a {*/
/*    display: block;*/
/*    position: relative;*/
/*}*/
/*!*ul span {*!*/
/*!*    position: absolute;*!*/
/*!*    top: 0;*!*/
/*!*    left: 0;*!*/
/*!*    bottom: 0;*!*/
/*!*    right: 0;*!*/
/*!*    opacity: 0;*!*/
/*!*}*!*/


/*!*li img {*!*/
/*!*    width: 5rem;*!*/
/*!*    height: auto;*!*/
/*!*}*!*/
/*!*li.GitHub img {*!*/
/*!*    width: 15rem;*!*/
/*!*}*!*/
