<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">

    <link rel="canonical" href="{{ config.site }}"/>

    <!-- Primary Meta Tags -->
    <title>{{ config.name }} — {{ config.jobTitle }} — Personal site</title>
    <meta name="title" content="{{ config.name }} — {{ config.jobTitle }}">
    <meta name="description" content="Personal site">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="profile">
    <meta property="profile:first_name" content="{{ config.name.first }}">
    <meta property="profile:last_name" content="{{ config.name.last }}">
    <meta property="profile:username" content="{{ config.name }}">
    <meta property="profile:gender" content="male">
    <meta property="og:title" content="{{ config.name }} — {{ config.jobTitle }}">
    <meta property="og:url" content="{{ config.site }}">
    <meta property="og:description" content="Personal site">
    <meta property="og:image" content="{{ config.site }}/images/avatar-origin.png">
    <meta property="og:locale" content="en_US">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ config.site }}">
    <meta property="twitter:title" content="{{ config.name }} — {{ config.jobTitle }}">
    <meta property="twitter:description" content="Personal site">
    <meta property="twitter:image" content="{{ config.site }}/images/avatar-origin.png">


    <link rel="shortcut icon" href="/images/avatar@1.jpg" type="image/jpeg">
    <link rel="apple-touch-icon" href="/images/avatar@1.jpg" type="image/jpeg">
    <link rel="stylesheet" href="/styles/styles.css">
    <script type="application/ld+json">{% renderJS config %}{% include 'schema.11ty.js' %}{% endrenderJS %}</script>
</head>
<body>
{{ content | safe }}
</body>
</html>
