BEGIN:VCARD
VERSION:3.0
N:{% _t 'last-name', lang %};{% _t 'first-name', lang %};;;
FN:{% _t 'name', lang %}
ORG:ihappymama.ru
TITLE:{% _t 'job', lang %}
EMAIL;PREF;WORK:{{ config.email }}
URL;type=pref:{{ config.site }}
{% for url in config.links %}URL:{{ url }}
{% endfor %}END:VCARD
